<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body class='container'>
        <header>
            <% include ./partials/_header %>
        </header>

        <div>

            <h3>URL's</h3>
                <% for (key in urls) { %>
                    <form method="post" action="/urls/<%= key%>">
                    
                        <% if (urls[key].userID === user) { %>

                            <li style="list-style-type: none"><%= key %> - <%= urls[key].longURL%> - <button>Delete this URL!</button></li>
                                
                        <% } %>

                    </form>
                <% }; %>
            
            <h2><a href="/urls/new">Add a new URL</a></h2>
        </div>
    </body>
</html>