<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body class='container'>
        <header>
            <% include ./partials/_header %>
        </header>

        <div>

            <h3>URL's</h3>
                <% for (key in urls) { %>
                    <form method="post" action="/urls/<%= key%>">
                    
                    
                    <li style="list-style-type: none"><a href="/urls/<%= key%>"><%= key %></a> - <%= urls[key]%> - <button>Delete this URL!</button></form></li>


                <% }; %>
            
            <h2><a href="/urls/new">Add a new URL</a></h2>
        </div>
    </body>
</html>
