<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body class='container'>
        <div>

            <h3>URL's</h3>
               
            
            <li style="list-style-type: none">


                <%= shortURL %> - <%= longURL %>


            </li>
            
            <h3><a href="/urls">Go home</a></h3>
        </div>
        
    </body>
</html>
