<head>
    <title>TinyURL - Local URL Shortener</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <div class='myContent'>
        <img class='logo pushUp' src='/images/logo.png'>
            <h3>register</h3>
            <form method='post' action='/register'>
                <input type='text' placeholder='name' name='name'>        
                <input type='email' placeholder='email' name='email'>
                <input type='password' placeholder='password' name='password'>
                </br>
                <button class='topButton'>register</button>
            </form>
        <a href='/login'><button class='bottomButton'>sign in</button></a>
    </div>
</body>