<h1>Register</h1>
    <form method='post' action='/register'>
        <p>Name: <input type='test' name='name'></p>        
        <p>Email: <input type='email' name='email'></p>
        <p>Password: <input type='password' name='password'></p>
        <button>Submit</button>
    </form>
<h6><a href='/login'>Login</a></h6>