<head>
    <title>TinyURL - Local URL Shortener</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class='myContent'>
        <img class='logo pushUp' src='/images/logo.png'>
        <h3>sign in</h3>
            <form method='post' action='/login'>
                <input type='email' placeholder='email' name='email'>
                </br>
                <input type='password' placeholder='password' name='password'>
                </br>
                <button class='topButton'>sign in</button>
            </form>
        <a href='/register' ><button class='bottomButton'>register</button></a>
    </div>
</body>