h2 {
    font-weight: 200;
    font-size: 200%;
    font-family: 'Lobster', cursive;
    float: left;
}

.title {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.addLink {
    float: right;
    position: relative;
    bottom: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.addLink:hover {
    color: hotpink;
}

.top {
    max-width: 400px;
    margin: 0 auto;
}

.myGrid {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    
}

.leftButton {
    position:relative;
    bottom: 8px;
    left: 15px;
}

.pushLeft {
    margin-right: 15px;
}

.shortLink {
    color: hotpink;
    text-decoration: none;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.list {
    max-width: 150px;
}
